<button class="btn btn-social btn-google" onclick="googleLogin()">Google</button>
<script>
  function googleLogin() {
    window.location.replace('https://accounts.google.com/o/oauth2/auth?response_type=code&client_id={{ config['STORMPATH_SOCIAL']['GOOGLE']['client_id'] }}{% if config["STORMPATH_SOCIAL"]["GOOGLE"].get("hd") %}&hd={{ config['STORMPATH_SOCIAL']['GOOGLE']['hd'] }}{% endif %}&scope=email+profile{% if config["STORMPATH_SOCIAL"]["GOOGLE"].get("scopes") %}+{{ "+".join(config["STORMPATH_SOCIAL"]["GOOGLE"]["scopes"]) }}{% endif %}&include_granted_scopes=true&redirect_uri={{ (request.url_root[:-1] + config['STORMPATH_GOOGLE_LOGIN_URL'])|urlencode }}');
  }
</script>
