{% if config['STORMPATH_ENABLE_GOOGLE'] %}
  <button id="google" onclick="googleLogin()">Log in With Google</button>
  <script>
    // Log a user in with Google OAuth.
    function googleLogin() {
      window.location.replace('https://accounts.google.com/o/oauth2/auth?response_type=code&client_id={{ config['STORMPATH_SOCIAL']['GOOGLE']['client_id'] }}&scope=email&include_granted_scopes=true&redirect_uri={{ (request.url_root[:-1] + config['STORMPATH_GOOGLE_LOGIN_URL'])|urlencode }}');
    }
  </script>
{% endif %}
