<html>
  <head>
    <title>Create an Account</title>
  </head>
  <body>
    {% include "flask_stormpath/google_login_form.html" %}
    {% include "flask_stormpath/facebook_login_form.html" %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="" method="post">
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>Create an Account</legend>
        {% if config['STORMPATH_ENABLE_USERNAME'] %}
          {{ form.username.label }}
          {% if config['STORMPATH_REQUIRE_USERNAME'] %}
            {{ form.username(placeholder='Username', required='true') }}
          {% else %}
            {{ form.username(placeholder='Username') }}
          {% endif %}
        {% endif %}
        {% if config['STORMPATH_ENABLE_GIVEN_NAME'] %}
          {{ form.given_name.label }}
          {% if config['STORMPATH_REQUIRE_GIVEN_NAME'] %}
            {{ form.given_name(placeholder='First Name', required='true') }}
          {% else %}
            {{ form.given_name(placeholder='First Name') }}
          {% endif %}
        {% endif %}
        {% if config['STORMPATH_ENABLE_MIDDLE_NAME'] %}
          {{ form.middle_name.label }}
          {% if config['STORMPATH_REQUIRE_MIDDLE_NAME'] %}
            {{ form.middle_name(placeholder='Middle Name', required='true') }}
          {% else %}
            {{ form.middle_name(placeholder='Middle Name') }}
          {% endif %}
        {% endif %}
        {% if config['STORMPATH_ENABLE_SURNAME'] %}
          {{ form.surname.label }}
          {% if config['STORMPATH_REQUIRE_MIDDLE_NAME'] %}
            {{ form.surname(placeholder='Last Name', required='true') }}
          {% else %}
            {{ form.surname(placeholder='Last Name') }}
          {% endif %}
        {% endif %}
        {{ form.email.label }}
        {{ form.email(placeholder='Email', required='true', type="email") }}
        {{ form.password.label }}
        {{ form.password(placeholder='Password', required='true') }}
        <input type="submit" name="Register">
      </fieldset>
    </form>
  </body>
</html>
